* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background: var(--bs-body-color);
    height: 100px;
    margin-top: auto;
}

.footer-text {
    color: rgba(255, 255, 255, 0.55);
    margin-top: 10px;
}

.error-404-content {
    display: flex;
    justify-content: center;
}

.form-login {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-login-container {
    align-content: center;
}

.navbar-divider {
    padding: var(--bs-nav-link-padding-y);
    color: var(--bs-nav-link-color)
}